<div class="ui container">
  <div class="ui grid">

    <div class="sixteen wide column">

      <div class="ui text compact menu">
        <div class="header item">
          <div class="ten wide column" style="width: 1112px">
            <div class="ui large animated fluid button" tabindex="0" (click)="back()">
              <div class="visible content">
                <i class="left arrow icon"></i>
              </div>
              <div class="hidden content">

                <span>Back</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>




  <div class="ui floating message" id="main">
    <div class="ui padded grid" id="content">
      <div class="middle aligned sixteen wide mobile eight wide tablet four wide computer column">
        <img class="selectedTvShow?.poster_path" class="ui fluid image" src="http://image.tmdb.org//t/p/w500{{selectedTvShow?.poster_path}}">
      </div>

      <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
        <div class="ui centered grid">

          <!-- gatunki -->
          <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="title" dir="auto">



              <span class="ui light black header">
                {{ selectedTvShow?.name }}
               
              </span>
              <br>
            </div>
            <i *ngFor="let genre of selectedTvShow?.genres" class="ui dark purple label">{{ genre.name }}</i>
          </div>
          <!-- -->

          <!-- opis -->
          <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">

              <span>Overview</span>
            </div>
            {{ selectedTvShow?.overview }}
          </div>
          <!-- -->

          <!-- WWW -->
          <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">

              <span>Additional information</span>
            </div>

            <!-- <a *ngIf="selectedTvShow?.imdb_id" href="http://www.imdb.com/title/{{ selectedTvShow?.imdb_id }}">
                    <i class="ui yellow label">IMDb</i>
                  </a>
      
                  <a class="video none">
                    <a class="no_click play_trailer" href="https://www.themoviedb.org/movie/{{ selectedTvShow?.id}}">
                      <span class="glyphicons glyphicons-play"></span> Play Trailer</a>
                  </a> -->
          </div>
          <!-- -->

          <!-- statystyki -->
          <div class="center aligned eight wide mobile eight wide tablet three wide computer column">
            <div class="ui violet  statistic">
              <div class="label">

                <span>Vote average</span>
              </div>
              <div class="text value">{{ selectedTvShow?.vote_average }}</div>
            </div>
          </div>

          <div class="center aligned eight wide mobile eight wide tablet four wide computer column">
            <div class="ui violet  statistic">
              <div class="label">

                <span>vote count</span>
              </div>
              <div class="text value">{{ selectedTvShow?.vote_count }}</div>
            </div>
          </div>

          <div class="center aligned eight wide mobile eight wide tablet four wide computer column">
            <div class="ui purple statistic">
              <div class="label">

                <span>Popularity</span>
              </div>
              <div class="text value">{{ selectedTvShow?.popularity | number: '1.0-2' }}</div>
            </div>
          </div>

          <div class="center aligned eight wide mobile eight wide tablet five wide computer column">
            <div class="ui blue statistic">
              <div class="label">

                <span>Release date</span>
              </div>
              <div class="text value">{{ selectedTvShow?.first_air_date }}</div>
            </div>
          </div>
          <!-- -->
        </div>
      </div>
    </div>


  </div>
</div>