<div class="ui container">
  <div class="ui grid">
    <div class="middle aligned sixteen wide mobile eight wide tablet eight wide computer column">
      <div class="ui large breadcrumb">
        <div class="active section">
          <span class="ui light black header">
            <h2>TV Shows</h2>
          </span>
        </div>
      </div>
    </div>

    <div class="right aligned middle aligned sixteen wide mobile eight wide tablet eight wide computer column">
      <div class="ui text compact menu">
        <div class="header item">
          <span>Sort by</span>
        </div>
        <a class="item" (click)="sortTvShows('title')">
          <i class="sort alphabet down icon"></i>

          <span>Title</span>
        </a>
        <a class="item" (click)="sortTvShows('popularity')">
          <i class="empty star icon"></i>

          <span>Popularity</span>
        </a>
      </div>
    </div>
  </div>

  <div class="ui link five doubling cards">
    <div class="card" *ngFor="let tv of tv | async" [routerLink]="['/tv/'+tv.id]" routerLinkActive="active">
      <div class="image">
        <img *ngIf="tv.poster_path" class="ui middle aligned tiny image" src="https://image.tmdb.org/t/p/w500{{tv.poster_path}}">
        <img *ngIf="!tv.poster_path" class="ui middle aligned tiny image" src="https://placehold.it/500x740">
      </div>
      <div class="content">
        <div class="header">
          {{ tv.name }}
        </div>

        <div class="description">
          
          <span>Popularity</span>
          : {{ tv.popularity | number : '1.0-3' }}
          <br>
      
          <span>Vote count</span>
          : {{ tv.vote_count }}
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <h3>
            <i class="star icon"></i>
            {{ tv.vote_average }}
          </h3>

        </span>
        {{ tv.release_date }}
      </div>
    </div>
  </div>
</div>