.ten wide column{

    background-color: blue;
}
.ui text compact menu{

    background-color: blue;
}
.header item{

    background-color: blue;
}
.visible content{

    background-color: blue;
}
.hidden content{

    background-color: blue;
}
